// Place all the styles related to the types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#i_tab tr:hover {
    background-color: #0180FE;
    color: #fff;
    cursor:hand;
}
#i_tab{
  width: 600px;
}
#i_tab td{
  width: 120px;
}
#error_explanation{
    height: 100px;
    width:400px;
    font-size: 16px;
    line-height: 2px;
    text-align: left;
}
#n_t_d{
  height: 297px;
  width: 1280px;
}
#error{
 height: 30px;
 color: red;
 font-size: 10px;
 line-height: 10px;
}

#nt_tab{
   width: 400px;
   height: 50px;
   text-align: center;
   border: 1px;
   font-size: 18px;
   font-weight: normal;
}
#nt_tdl{
  width: 50px;
  text-align: center;
}
#nt_tdr{
  width: 150px;
  text-align: center;
}

#n_tab_t tr:hover {
    background-color: #0180FE;
    color: black;
    cursor:hand;
}